@charset "UTF-8";


header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 20px; 
    background-color: #EDF9FF;
    padding: 50px 200px;
}


.header img {
   max-width: 100%;
   height: auto;
   margin-left: 150px;
}

.menuList {
   display: grid;
   grid-template-columns: 100px 100px 100px;
   gap: 20px; /* 갭 설정 */
   margin-left:-180px;
   height:auto;
}

.userLogin {
   display: flex;
}

.userLogin img{
   height : 50px;
}

button {
   padding: 10px 15px;
   margin-left: 10px;
   cursor: pointer;
   transition: background-color 0.3s ease;
}