<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prj.recruits.mapper.PResumeMapper">

<resultMap id="resumeResultMap" type="com.prj.recruits.domain.PResumeVo">
    <result property="p_title" column="P_TITLE"/>
    <result property="p_id" column="P_ID"/>
    <result property="p_name" column="P_NAME"/>
    <result property="p_birth" column="P_BIRTH"/>
    <result property="p_phone" column="P_PHONE"/>
    <result property="p_email" column="P_EMAIL"/>
    <result property="p_address" column="P_ADDRESS"/>
    <result property="skill" column="SKILL"/>
    <result property="intro" column="INTRO"/>
    <result property="bookmark" column="BOOKMARK"/>
    <result property="pno" column="PNO"/>
    <result property="imagePath" column="IMAGEPATH"/>
</resultMap>


	<select id="getResumeList"
		resultType="com.prj.recruits.domain.PResumeVo">
		SELECT PNO, P_NAME, P_TITLE
		FROM P_RESUME
		WHERE P_ID =#{p_id}
		
	</select>
	

	<select id="viewResume"
		resultType="com.prj.recruits.domain.PResumeVo">
		SELECT     
			P_ID,
   			PNO,
   			P_TITLE,
    		P_NAME,
    		P_BIRTH,
    		P_PHONE,
    		P_EMAIL,
    		P_ADDRESS,
    		INTRO,
    		IMAGEPATH
		FROM P_RESUME
		WHERE pno = #{pno}
	</select>

<insert id="writeResume" parameterType="com.prj.recruits.domain.PResumeVo">
    INSERT INTO P_RESUME(
    P_ID,
    PNO,
    P_TITLE,
    P_NAME,
    P_BIRTH,
    P_PHONE,
    P_EMAIL,
    P_ADDRESS,
    INTRO,
    IMAGEPATH
    )
    VALUES (
    #{p_id},
    (SELECT TO_NUMBER(NVL(MAX(PNO), 0)) + 1 FROM P_RESUME),
    #{p_title, jdbcType=VARCHAR},
    #{p_name, jdbcType=VARCHAR},
    #{p_birth},
    #{p_phone, jdbcType=VARCHAR},
    #{p_email, jdbcType=VARCHAR},
    #{p_address, jdbcType=VARCHAR},
    #{intro, jdbcType=VARCHAR},
    #{imagePath}
    )
</insert>

	<select id="getUpdateResumeByPno"
		resultType="com.prj.recruits.domain.PResumeVo">
		SELECT *
		FROM P_RESUME
		WHERE pno = #{pno}
	</select>

	<update id="updateResume">
	    UPDATE P_RESUME
	
	    SET
	    P_TITLE=#{p_title, jdbcType=VARCHAR},
	    P_NAME=#{p_name, jdbcType=VARCHAR},
	    P_BIRTH=#{p_birth, jdbcType=VARCHAR},
	    P_PHONE=#{p_phone, jdbcType=VARCHAR},
	    P_EMAIL=#{p_email, jdbcType=VARCHAR},
	    P_ADDRESS=#{p_address, jdbcType=VARCHAR},
	    INTRO=#{intro},
	    IMAGEPATH=#{imagePath, jdbcType=VARCHAR}
	
	    WHERE PNO=#{pno}
	</update>

	<delete id="deleteResume">
		DELETE FROM P_RESUME
		WHERE PNO=#{pno}
	</delete>

</mapper>