<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prj.users.mapper.UsersMapper">


  <resultMap id="getUserMap" type="java.util.HashMap">
    <result  property="c_id"        column="c_id" />
    <result  property="c_passwd"    column="c_passwd" />
    <result  property="c_name"      column="c_name" />
    <result  property="c_phone"     column="c_phone" />
    <result  property="c_company"   column="c_company" />
    <result  property="c_bcode"     column="c_bcode" />
    <result  property="c_email"     column="c_email" />
  </resultMap>
  

  <resultMap id="getPUserMap" type="java.util.HashMap">
    <result  property="p_id"        column="p_id" />
    <result  property="p_passwd"    column="p_passwd" />
    <result  property="p_name"      column="p_name" />
    <result  property="p_phone"     column="p_phone" />
    <result  property="p_email"     column="p_email" />
    <result  property="skill"       column="skill" />
  </resultMap>


<select id ="getRecruitList" resultType = "com.prj.users.domain.PUserVo">
	SELECT 
		*
	FROM   P_RESUME

</select>

<select id = "getcmanage" resultType = "com.prj.users.domain.CUserVo">
	SELECT
		*
	 From    C_RUSUME 
</select>

<select id="getCUser">
	SELECT	 	
	 	C_ID,
	 	C_PASSWD,
	 	C_NAME,
	 	C_PHONE,
	 	C_COMPANY,
	 	C_BCODE,
	 	C_EMAIL
	 FROM CUSER
	 WHERE P_ID=#{p_id}
</select>

<insert id="insertCResume">
 INSERT INTO C_RESUME
 	(
 	CNO,
  GETMAM
 	C_NAME,
 	C_TITLE,
 	C_ADRESS
 	)
 VALUES(
 	#{cno},
 	#{getman},
 	#{c_name},
 	#{c_title},
 	#{c_adress}, 
 )
 
</insert>


<insert id="insertPUser">
 INSERT INTO PUSER
 	(
 	P_ID,
 	P_PASSWD,
 	P_NAME,
 	P_PHONE,
 	P_EMAIL,
 	SKILL
 	)
 VALUES(
 	#{p_id},
 	#{p_passwd},
 	#{p_name},
 	#{p_phone},
 	#{p_email},
 	#{skill} 
 )

</insert>

<select id="getPUser">
	SELECT	 	
	 	P_ID,
	 	P_PASSWD,
	 	P_NAME,
	 	P_PHONE,
	 	P_EMAIL,
	 	SKILL
	 FROM PUSER
	 WHERE P_ID=#{p_id}

</select>

<select id="login">
    SELECT
        P_ID,
        P_PASSWD
    FROM PUSER
    WHERE
        P_ID=#{arg0, jdbcType=VARCHAR} 
        AND 
        P_PASSWD=#{arg1, jdbcType=VARCHAR}
</select>




  <select id="getCUserList" resultMap="getUserMap">
  
    SELECT   
    		C_ID,
			C_PASSWD,
			C_NAME,
			C_PHONE,
			C_COMPANY,
			C_BCODE,
			C_EMAIL
      FROM  CUSER
     WHERE  C_ID = #{ c_id }
  
  </select>
  
  <update id="updateCUser">
  
    UPDATE   CUSER
       SET   
			 C_PASSWD = #{ c_passwd },
			 C_NAME = #{ c_name },
			 C_PHONE = #{ c_phone },
			 C_COMPANY = #{ c_company },
			 C_BCODE = #{ c_bcode },
			 C_EMAIL = #{ c_email }
	 WHERE   C_ID = #{ c_id }		 
  
  </update>
  

<select id="getPUserList" resultMap="getPUserMap">
  	 SELECT   
    		P_ID,
			P_PASSWD,
			P_NAME,
			P_PHONE,
			P_EMAIL,
			SKILL
      FROM  PUSER
     WHERE  P_ID = #{ p_id }
  </select>

<update id="updatePUser">
UPDATE PUSER
   SET 
	   P_PASSWD = #{p_passwd},
	   P_NAME   = #{p_name},
	   P_PHONE  = #{p_phone},
	   P_EMAIL  = #{p_email},
	   SKILL    = #{skill}
 WHERE P_ID = #{ p_id }

</update>


</mapper>