<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prj.users.mapper.UsersMapper">


<insert id="insertPUser">
 INSERT INTO PUSER
 	(
 	P_ID,
 	P_PASSWD,
 	P_NAME,
 	P_PHONE,
 	P_EMAIL,
 	SKILL
 	)
 VALUES(
 	#{p_id},
 	#{p_passwd},
 	#{p_name},
 	#{p_phone},
 	#{p_email},
 	#{skill} 
 )

</insert>

<select id="getPUser">
	SELECT	 	
	 	P_ID,
	 	P_PASSWD,
	 	P_NAME,
	 	P_PHONE,
	 	P_EMAIL,
	 	SKILL
	 FROM PUSER
	 WHERE P_ID=#{p_id}

</select>

<select id="login">
    SELECT
        P_ID,
        P_PASSWD
    FROM PUSER
    WHERE
        P_ID=#{arg0, jdbcType=VARCHAR} 
        AND 
        P_PASSWD=#{arg1, jdbcType=VARCHAR}
</select>

<select id ="getRecruitList" resultType = "com.board.users.domain.PUserVo">
	SELECT 
		*
	FROM   P_RESUME

</select>

<select id = "getcmanage" resultType = "com.board.users.domain.CUserVo">
	SELECT
		*
	 From    C_RUSUME 
</select>

<select id="getCUser">
	SELECT	 	
	 	C_ID,
	 	C_PASSWD,
	 	C_NAME,
	 	C_PHONE,
	 	C_COMPANY,
	 	C_BCODE,
	 	C_EMAIL
	 FROM CUSER
	 WHERE P_ID=#{p_id}
</select>

<insert id="insertCResume">
 INSERT INTO C_RESUME
 	(
 	CNO,
  GETMAM
 	C_NAME,
 	C_TITLE,
 	C_ADRESS
 	)
 VALUES(
 	#{cno},
 	#{getman},
 	#{c_name},
 	#{c_title},
 	#{c_adress}, 
 )
 
</insert>



</mapper>